

<div style="margin-left: 30%;margin-top: 10%;">
    <span  style="margin-left:15% ;color:green; font-size: 70px;" class="material-icons">check_circle_outline</span>
    <h2>Congratulations, payment completed successfully</h2>
    </div>
    <table style="margin-left: 40px;margin-top: 100px;"><tr>
     <td style="margin-top:20%"><button type="button" [routerLink]="'/savedBills'"  class="btn btn-success">Back to my saved bills</button></td>
     <td style="margin-top:20%"><button type="button" [routerLink]="'/paymentHistory'"  class="btn btn-success">Back to Payment History</button></td>
    </tr></table>