.grid-container {
    margin: 20px;
  }
  .table{
    margin-top: 50px;
  } 
  .button{
    float:left;
    margin:2px;
  }
.form-control{
width:220px;

  }

  .form-control::placeholder { 
    color:#495057;
    opacity: 1; 
  }

.subHeader{
  width: 100%;
  height: 55px;
  background-color: #f0f0f0;
  }
  
.mat-h1{
    padding: 10px 20px;
  }

  