<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/savedBills'">Saved Bills</a>
      <a mat-list-item [routerLink]="'/paynewBills'">Pay New Bill</a>
      <a mat-list-item [routerLink]="'/savedPaymentMethod'">Saved Payment Methods</a>
      <a mat-list-item [routerLink]="'/paymentHistory'">Payment History</a>
      <a mat-list-item [routerLink]="'/accountSettings'">Account Settings</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div style="width:100%">
        <span style="float: left;">Bill Cache Version 4</span> 
        <img style="float: right; width: 150px; height:50px" src="./assets/images/logo.png">
      </div>
 

    </mat-toolbar>


    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>