<div class="grid-container">
    <h1 class="mat-h1">Pay New Bill   
      <button mat-icon-button color="primary" matTooltip="To pay a bill you first need to inquire it. To inquire a bill, select biller cateogry, then biller name, and then the service and finally type in the billing number." >
      <mat-icon>info</mat-icon>
    </button></h1>
    <table class="table ">

      <tr >
          <td>
            <mat-form-field appearance="fill">
                <mat-label>Biller Category</mat-label>
                <mat-select (selectionChange)="onSelect($event.value)"  [(ngModel)]="billcategory">
  <mat-option>None</mat-option>
  <mat-option *ngFor="let billerCategory of billerCategories"
   value= {{billerCategory.id}}>{{billerCategory.billercategoryname}}</mat-option>
</mat-select>
              </mat-form-field>
          </td>

          <td>
            <mat-form-field appearance="fill">
                <mat-label>Biller Name</mat-label>
                <mat-select (selectionChange)="onSelectBiller($event.value)" 
                [(ngModel)]="billername">
                  <mat-option>None</mat-option>
                  <mat-option *ngFor="let billerName of billerNames " 
                  value= {{billerName.id}}>{{billerName.billername}}</mat-option>
                </mat-select>
              </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill">
                <mat-label>Service Name</mat-label>
                <mat-select  [(ngModel)]="servicename">
                  <mat-option>None</mat-option>
                  <mat-option *ngFor="let serviceName of billerServices " 
                  value= {{serviceName.id}}>{{serviceName.billerservice}}</mat-option>
                </mat-select>
           
            </mat-form-field>
          </td>
          <td>
            <mat-form-field  appearance="fill">
                <mat-label>Billing Number</mat-label>
               <input name="post" [(ngModel)]="billingnumber" #billingInput id="billingInput" matInput>
              </mat-form-field>
          </td>
      </tr>
      
    </table>

    <div  >
        <button (click)="addBillingDetails()"  [routerLink]="'/billSummary'" type="button" class="btn btn-success" 
        style="margin-left: 20px;">Inquire</button>
    </div>
    </div>







 