
<div class="subHeader">
    <h1 class="mat-h1"> Bill Summary 
        <button mat-icon-button color="primary" matTooltip="Confirm your bill summary and click on pay to make a payment" >
        <mat-icon>info</mat-icon>
    </button></h1>
  </div>

<div class="grid-container">
        <table class="table table-hover">
        <tr>
            <th><a style="color:green"> Your bill summary</a></th>
        </tr>
        <tr >
            <td>Biller Category : {{ billercategory[jsondata.billcategory]}} </td></tr>
            <tr >  <td>Biller Name : {{ billername[jsondata.billername]}}  </td></tr>
                <tr >  <td>Service Name : {{ service[jsondata.servicename]}}</td></tr>
                    <tr > <td>Billing Number : {{jsondata.billingnumber}}</td>
        </tr>
    </table>
  

    <label style ="font-weight: bold;margin-top:40px">Total amount to pay</label> 30.8$
    <div style="margin-top:20px">
        <table><tr>
      <td><button [routerLink]="'/paymentConfirmation'" type="button" class="btn btn-success">Pay</button>
      </td>  
      <td><button [routerLink]="'/paynewBills'" type="button" class="btn btn-success">Cancel</button>
        </td>
        <td><button (click)="saveBill()" type="button" [disabled]="isSaveBillButtonDisabled" class="btn btn-success">Save Bill</button>
        </td>
    </tr></table>
    </div>
